# Peer graded Assignment - Week 3
## Segmenting and Clustering Neighborhoods in Toronto
#### Friday, 8th January 2021

Hello and welcome to my notebook for the assignment for Week 3. This is the part 1.

## A - Scraping from Wikipedia page
We will capture data from the wikipedia page mentionned (https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) in order to create a pandas dataframe with PostalCode, Borough, and Neighborhood.

### I - Extraction from the url page

In [1]:
#First scraping from the url 
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)

#Print the number of dataframe detected
print(len(dfs))

3

In [2]:
#Verify that the first one is the one we need
print(dfs[0])

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

[180 rows x 3 columns]

In [3]:
#Define our final df
df=dfs[0]

#Read the first five row of our df
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### II - Cleaning of the dataframe
The main goal here is to: 
- Ignore cells with a borough that is Not assigned.
- If a cell has a Not assigned  neighborhood but a borough, put the same name than the borough.
- Check if the df has more than one neighborhood in one postal code area. If it is the case, gather the rows per one postal code.

After cleaning the dataframe, we will use the shape function to see the result.

In [5]:
#Ignore cells with a borough that is Not assigned.
#First, Let's see where "Not assigned" values are in the Borough column
if 'Not assigned' in df['Borough'].values : 
    print("\nThis value exists in Dataframe, column Borough") 
else : 
    print("\nThis value does not exists in Dataframe, column Borough")

This value exists in Dataframe, column Borough

In [6]:
#Let's create a new df withouth these values
df=df[df.Borough !='Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
#Check of the df
if 'Not assigned' in df['Borough'].values : 
    print("\nThis value exists in Dataframe, column Borough") 
else : 
    print("\nThis value does not exists in Dataframe, column Borough")

This value does not exists in Dataframe, column Borough

In [8]:
#If a cell has a Not assigned neighborhood but a borough, put the same name of the borough.
#First, Let see where "Not assigned" values are in the Neighbourhood column
if 'Not assigned' in df['Neighbourhood'].values : 
    print("\nThis value exists in Dataframe, column Neighbourhood") 
else : 
    print("\nThis value does not exists in Dataframe, column Neighbourhood") 


#The value does not seem to exist so it is not necessary to change the name of the Neighbourhood!

This value does not exists in Dataframe, column Neighbourhood

In [32]:
#Check if the df has more than one neighborhood in one postal code area.
count_check=df['Postal Code'].value_counts()

pandas.core.series.Series

In [36]:
for i in count_check:
    if i>1:
        print('there is an ocurrence in the line '+ count_check.index)
    else:
        continue
print("Finish !")

Finish !

Go back to our goals: 
- Ignore cells with a borough that is Not assigned : <b> CHECK  </b>
- If a cell has a Not assigned  neighborhood but a borough, put the same name than the borough:  <b> CHECK  </b>
- Check if the df has more than one neighborhood in one postal code area. If it is the case, gather the rows per one postal code :  <b> CHECK  </b>

In [9]:
#Print the shape of the df
df.shape

(103, 3)

In [38]:
df=df.reset_index(drop=True)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government